fastapi==0.135.1
uvicorn==0.42.0
pandas==2.2.3
numpy==2.2.3
scikit-learn==1.6.1
xgboost==2.1.4
lightgbm==4.6.0
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
joblib==1.4.2
imbalanced-learn==0.13.0
matplotlib==3.10.1
seaborn==0.13.2